In [1]:
import requests
import pandas as pd

#to read the environment variables from .env
import os
from dotenv import load_dotenv
load_dotenv()
API_KEY = os.environ.get("API_KEY")
API_SECRET_KEY = os.environ.get("API_SECRET_KEY")

ModuleNotFoundError: No module named 'requests'

In [39]:
url = 'https://test.api.amadeus.com/v1/security/oauth2/token'
headers = {"Content-Type": "application/x-www-form-urlencoded"}
params = {"grant_type": "client_credentials", 
          "client_id": API_KEY, 
          "client_secret": API_SECRET_KEY}
response = requests.post(url, data=params, headers=headers)
access_token = response.json()['access_token']

In [51]:
#Response for the return flight
base_url = "https://test.api.amadeus.com/v1/shopping/flight-dates"
headers = {'Authorization': f'Bearer {access_token}'}
params = {
    "origin": "SYD", 
    "destination": "LAX", 
    "departureDate": "2024-02-01,2024-07-01", 
    "duration": 12, 
    "oneWay": False, 
    "viewBy": "DATE", 
    # "nonStop": True
}
response = requests.get(base_url, params=params, headers=headers)
round_way_trips = response.json()['data']

In [58]:
# List to store the results for different durations
return_flight_results = []

# Iterate over durations (9 to 15 days)
for duration in range(9, 15):
    params = {
        "origin": "SYD",
        "destination": "LAX",
        "departureDate": "2024-02-01,2024-07-01",
        "duration": duration,
        "oneWay": False,
        "viewBy": "DATE",
        # "nonStop": True
    }

    # Make the API request
    response = requests.get(base_url, params=params, headers=headers)

    # Extract relevant information and append to the results list
    round_way_trips = response.json()['data']
    return_results_for_duration = [
        (duration, entry['origin'], entry['destination'], entry['departureDate'], entry['price']['total'])
        for entry in round_way_trips
    ]

    # Append the results to the main list
    return_flight_results.append(return_results_for_duration)

#return_flight_results shows a list of lists of flights for each duration from 9 days to 15 days
#return_flight_results

In [60]:
flat_list = [item for sublist in return_flight_results for item in sublist]

# Create a Pandas DataFrame
columns = ['duration','origin', 'destination', 'departureDate', 'totalPrice']
df = pd.DataFrame(flat_list, columns=columns)

In [61]:
df

     duration origin destination departureDate totalPrice
0           9    SYD         LAX    2024-02-16    1014.86
1           9    SYD         LAX    2024-02-13    1014.86
2           9    SYD         LAX    2024-02-18    1014.86
3           9    SYD         LAX    2024-04-27    1022.76
4           9    SYD         LAX    2024-05-03    1022.76
..        ...    ...         ...           ...        ...
907        14    SYD         LAX    2024-04-07    1603.93
908        14    SYD         LAX    2024-04-13    1633.46
909        14    SYD         ONT    2024-07-01    2131.80
910        14    SYD         LAX    2024-06-30    2131.80
911        14    SYD         LAX    2024-06-29    2206.76

[912 rows x 5 columns]

In [63]:
1.
Next steps are putting controls in place to make sure all origin 
in SYD and all destinations are LAX not ORD...
2. 
Maybe try and see what other flights from Sydney to another location
outside of US exists as a control variable

SyntaxError: invalid syntax (872008144.py, line 1)